# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.*.local

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store

# build output
dist/
build/

# coverage
coverage/

# local test artifacts
cookies.txt